@import url(google.css);

body {
	background-color: #fff5b7;
	font-family: "Open Sans", Arial;
	font-size: 12px;
	min-width: 700px;
}

h2 {
	margin: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div {
	position: relative;
}

td {
	padding: 5px;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

input[type='number'] {
	text-align: center;
}

label {
	font-weight: bold;
}

#nameLabel {
	margin-left: 10px;
}

#nameInput {
	margin: 5px;
	width: 50%;
}

.fadeBG {
	background-color: initial !important;
	transition: 1.5s background-color ease-out;
}

.consoleContainer {
	padding: 15px;
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	background-color: #0769AD;
	height:90%;
	box-shadow: 0px 0px 40px black;
}

.contentArea {
	width: 90%;
}
.userBoxSize {
	height: calc(100% - 76px);
	width: calc(50% - 40px);
}
.userBoxStyle {
	border: 1px solid white;
	background-color: white;
	margin: 25px;
	margin-bottom: 0px;
	margin-top: 10px;
	border-radius: 15px;
	overflow: auto;
}
.halfHeight {
	height: calc(50% - 5px);
	width: 100%
}
.consoleScrollerComments,
.consoleScrollerFeed {
	margin: 10px;
	border: 1px solid black;
	overflow: auto;
}

.consoleScrollerComments {
	height: calc(95% - 50px);
}

.consoleScrollerFeed {
	height: calc(97% - 186px);
}

.liveInput {
	display:block;
	width: calc(100% - 20px);
	margin: auto;
	resize: none;
	height: 4em;
	background-color: lightgreen;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

.teamSelect {
	width: 100%;
}

.topRight {
	position: absolute;
	top: 10px;
	right: 10px;
}

.headerImage {
	box-shadow: 0px 0px 10px 10px white;
    background-color: white;
    height: 40px;
    margin: 10px;
}
.scoreBox {
	font-size: 30px;
	height: 40px;
	width: 60px;
}
.shotsBox {
	font-size: 12px;
	height: 20px;
	width: 60px;
}
.absoluteVerticalCentered{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	white-space:nowrap;
}
.absoluteBottomRight {
	position: absolute;
	right: 10px;
	bottom: 10px;
}